    <form method="get" action="/quizes/answer">
    	<p>Pregunta: <%=pregunta%></p><p>Pregunta de <%=tema%></p>
    	<input type="text" name="respuesta" value="Responda aquí"/>
    	<input type="submit" value="Enviar">
    </form>
